body {
  background-color: lightblue;
}

h1 {
  color: darkgreen;
  text-align: center;
}

h4 {
  width: 750px;
  white-space: normal;
  margin-left: 5%;
}

p{
  width: 750px;
  margin-left:5%;
  white-space: normal;
}

